<p-tabView name="Excel">
  <p-tabPanel header="Import">
    <form novalidate>
      <table class="imortTable">
        <tr>
          <td>
            <p-fileUpload name="excel-files" url="http://localhost:7001/translationView/rest/translations/import" [multiple]="multiple"
              [auto]="auto" (onUpload)="onUpload($event)" accept=".xls">
            </p-fileUpload>
          </td>
        </tr>
        <tr>
          <td>
            <p-checkbox name="multiple" binary="true" label="Multiple" [(ngModel)]="multiple"></p-checkbox>
          </td>
          <td>
            <p-checkbox name="auto" binary="true" label="Auto" [(ngModel)]="auto"></p-checkbox>
          </td>
        </tr>
        <tr>
          <td>
            <p-checkbox name="create-update" binary="true" label="Create-Update" [(ngModel)]="createUpdate"></p-checkbox>
          </td>
          <td>
            <p-checkbox name="create-only" binary="true" label="Create-Only" [(ngModel)]="createOnly"></p-checkbox>
          </td>
        </tr>
        <tr>
          <td>
            <p-checkbox name="create-missing-messages" binary="true" label="Create missing messages" [(ngModel)]="createMissingMessages"></p-checkbox>
          </td>
          <td>
            <p-checkbox name="create-missing-bundles" binary="true" label="Create missing bundles" [(ngModel)]="createMissingBundles"></p-checkbox>
          </td>
        </tr>
      </table>
    </form>
    <p-growl [value]="msgs"></p-growl>
  </p-tabPanel>
  <p-tabPanel header="Export">
    <form novalidate>
      <table class="exportTable">
        <tr>
          <td>
            <label for="select">Export XLS file</label>
          </td>
          <td>
            <p-multiSelect name="select" [options]="bundles" [(ngModel)]="selectedBundles"></p-multiSelect>
          </td>
        </tr>
        <tr>
          <td>
            <label for="select2">Language</label>
          </td>
          <td>
            <p-multiSelect name="select" [options]="languages" [(ngModel)]="selectedLanguages"></p-multiSelect>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button pButton type="button" label="OK" icon="fa-pencil" (click)="triggerExport()"></button>
          </td>
        </tr>
      </table>
    </form>
    <p-growl styleClass="myGrowl" [value]="msgs"></p-growl>
  </p-tabPanel>
</p-tabView>